In [296]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd
import numpy as np

In [297]:
url = "http://basketball.realgm.com/player/Stephen-Curry/Summary/1600"
content = urllib2.urlopen(url).read()

In [412]:

soup = BeautifulSoup(content, "html5lib")
head = soup.findAll('h2')

ncaa_pg_player_headers = []
ncaa_adv_player_headers = []
ncaa_misc_player_headers = []

ncaa_pg_summary_data = []
ncaa_adv_summary_data = []
ncaa_misc_summary_data = []

nba_pg_player_headers = []
nba_adv_player_headers = []
nba_misc_player_headers = []

nba_pg_summary_data = []
nba_adv_summary_data = []
nba_misc_summary_data = []

player_name = url.split('/')[4]
player_num = url.split('/')[6]

#categories = ["NCAA Season Stats - Per Game", "NCAA Season Stats - Advanced Stats",\
#             "NCAA Season Stats - Misc Stats", "NBA Regular Season Stats - Misc Stats",\
#             "NBA Regular Season Stats - Advanced Stats", "NBA Regular Season Stats - Per Game Stats"]

#create header columns
for x in head:
    #Per Game stats
    if x.find(text="NCAA Season Stats - Per Game"):
        table = x.find_next_sibling('table')
        if not (ncaa_pg_player_headers):
            row_head=table.findAll('th')
            ncaa_pg_player_headers =["Player Name", "Player ID", "Category"]
            for r in row_head:
                ncaa_pg_player_headers.append(r.getText())
        row_head=table.findAll('tr')
        for r in row_head:
            data = [player_name, player_num, "NCAA"]
            for c in r.findAll('td'):
                if c.getText() == "CAREER":
                    break
                data.append(c.getText())
            if len(data) > 3:
                ncaa_pg_summary_data.append(data)
    #Advanced Stats
    if x.find(text="NCAA Season Stats - Advanced Stats"):
        table = x.find_next_sibling('table')
        if not (ncaa_adv_player_headers):
            row_head=table.findAll('th')
            ncaa_adv_player_headers =["Player Name", "Player ID", "Category"]
            for r in row_head:
                ncaa_adv_player_headers.append(r.getText())
        row_head=table.findAll('tr')
        for r in row_head:
            data = [player_name, player_num, "NCAA"]
            for c in r.findAll('td'):
                if c.getText() == "CAREER":
                    break
                data.append(c.getText())
            if len(data) > 3:
                ncaa_adv_summary_data.append(data)
    #Misc Stats
    if x.find(text="NCAA Season Stats - Misc Stats"):
        table = x.find_next_sibling('table')
        if not (ncaa_misc_player_headers):
            row_head=table.findAll('th')
            ncaa_misc_player_headers =["Player Name", "Player ID", "Category"]
            for r in row_head:
                ncaa_misc_player_headers.append(r.getText())
        row_head=table.findAll('tr')
        for r in row_head:
            #print "in row"
            #print r
            if not (r.find('th')):
                data = [player_name, player_num, "NCAA"]
                for c in r.findAll('td'):
                    if c.getText() == "CAREER":
                        break
                    #print "adding data"
                    data.append(c.getText())
                if len(data) > 3:
                    ncaa_misc_summary_data.append(data)
    #NBA Per Game Stats
    if x.find(text="NBA Regular Season Stats - Per Game"):
        table = x.find_next_sibling('table')
        if not (nba_pg_player_headers):
            row_head=table.findAll('th')
            nba_pg_player_headers =["Player Name", "Player ID", "Category"]
            for r in row_head:
                nba_pg_player_headers.append(r.getText())
        row_head=table.findAll('tr')
        for r in row_head:
            #print "in row"
            #print r
            if not (r.find('th')):
                data = [player_name, player_num, "NBA"]
                for c in r.findAll('td'):
                    if c.getText() == "CAREER":
                        break
                    #print "adding data"
                    data.append(c.getText())
                if len(data) > 3:
                    nba_pg_summary_data.append(data)
    #NBA Advanced Stats
    if x.find(text="NBA Regular Season Stats - Advanced Stats"):
        table = x.find_next_sibling('table')
        if not (nba_adv_player_headers):
            row_head=table.findAll('th')
            nba_adv_player_headers =["Player Name", "Player ID", "Category"]
            for r in row_head:
                nba_adv_player_headers.append(r.getText())
        row_head=table.findAll('tr')
        for r in row_head:
            #print "in row"
            #print r
            if not (r.find('th')):
                data = [player_name, player_num, "NBA"]
                for c in r.findAll('td'):
                    if c.getText() == "CAREER":
                        break
                    #print "adding data"
                    data.append(c.getText())
                if len(data) > 3:
                    nba_adv_summary_data.append(data)
    #NBA Misc Stats
    if x.find(text="NBA Regular Season Stats - Misc Stats"):
        table = x.find_next_sibling('table')
        if not (nba_misc_player_headers):
            row_head=table.findAll('th')
            nba_misc_player_headers =["Player Name", "Player ID", "Category"]
            for r in row_head:
                nba_misc_player_headers.append(r.getText())
        row_head=table.findAll('tr')
        for r in row_head:
            #print "in row"
            #print r
            if not (r.find('th')):
                data = [player_name, player_num, "NBA"]
                for c in r.findAll('td'):
                    if c.getText() == "CAREER":
                        break
                    #print "adding data"
                    data.append(c.getText())
                if len(data) > 3:
                    nba_misc_summary_data.append(data)


# or x.find(text="NCAA Season Stats - Advanced Stats") or x.find(text="NCAA Season Stats - Per Game")

In [413]:
print nba_pg

NameError: name 'nba_pg' is not defined

In [415]:
df1 = pd.DataFrame(ncaa_adv_summary_data, columns=ncaa_adv_player_headers)
df2 = pd.DataFrame(ncaa_pg_summary_data, columns=ncaa_pg_player_headers)
df3 = pd.DataFrame(ncaa_misc_summary_data, columns=ncaa_misc_player_headers)
df4 = pd.DataFrame(nba_misc_summary_data, columns=nba_misc_player_headers)
df5 = pd.DataFrame(nba_adv_summary_data, columns=nba_adv_player_headers)
df6 = pd.DataFrame(nba_pg_summary_data, columns=nba_pg_player_headers)

In [443]:
resultNCAA = pd.concat([df1, df2, df3], axis=1)
resultNBA = pd.concat([df4, df5, df6], axis=1)
resultNBA.to_csv('curry.csv', encoding='utf-8')

In [444]:
!gsutil cp curry.csv gs://ncaa

Copying file://curry.csv [Content-Type=text/csv]...
/ [1 files][  3.3 KiB/  3.3 KiB]
Operation completed over 1 objects/3.3 KiB.

In [441]:
#resultNCAA.head(5)
list(resultNBA.columns.values)
resultNBA[["Season","PER", "GP"]]

      Season     Season     Season    PER  GP  GP  GP
0    2009-10    2009-10    2009-10  16.22  80  80  80
1    2010-11    2010-11    2010-11  19.57  74  74  74
2    2011-12    2011-12    2011-12  21.12  26  26  26
3    2012-13    2012-13    2012-13  21.19  78  78  78
4  2013-14 ☆  2013-14 ☆  2013-14 ☆  23.77  78  78  78
5  2014-15 ★  2014-15 ★  2014-15 ★  27.83  80  80  80
6  2015-16 ★  2015-16 ★  2015-16 ★  31.29  79  79  79
7  2016-17 ☆  2016-17 ☆  2016-17 ☆  24.69  79  79  79

##### result.describe()

In [243]:
content = urllib2.urlopen(url).read()
headers = []

player_name = url.split('/')[4]
player_num = url.split('/')[6]
#headers.append("player_name, player_num")

In [244]:
print player_name, player_num

Stephen-Curry 1600

In [100]:
mydivs = soup.find("div", { "class" : "profile-box" })

In [101]:
for r in mydivs.find_all('strong'):
    s = r.next_element.replace(":","")
    headers.append(s)

In [102]:
print headers

['player_name, player_num', u'Current Team', u'Born', u'Birthplace', u'Nationality', u'Height', u'Weight', u'Current NBA Status', u'Draft Entry', u'Drafted', u'Pre-Draft Team', u'High School']

In [78]:
for r in mydivs.find_all('p'):
    #print r.strong.getText()
    d = r.find('strong')
    a = r.find('a')
    if(a != None):
        #print "if"
        print(a.getText())
    else:
        #print "else"
        print d.next_sibling.replace(" ","")

N/A
Aug 19, 1988
Phoenix, Arizona
United States
6-3(191cm)
UnrestrictedFreeAgent
2011 NBA Draft
Undrafted
Arizona State
Desert Vista High School

In [450]:
headers = ['Player', 'id']
head = soup.findAll('h2')
y = []

#create columns
for x in head:
    if x.find(text="NBA Regular Season Stats - Misc Stats"):
        table = x.find_next_sibling('table')
        row_head=table.findAll('th')
        for r in row_head:
            headers.append(r.getText())
df = pd.DataFrame(columns=headers)            

#header is 20
for x in head:
  if x.find(text="NBA Regular Season Stats - Misc Stats"):
    table = x.find_next_sibling('table')
    rows = table.findAll('tr')
    season = []
    for r in rows:
      data = r.findAll('td')
      if(data):
          y=[player_name, player_num]
          for d in data:
            if d.getText() == 'CAREER':
              print "head to break"
              break;
            y.append(d.getText())
          season.append(y)

head to break

In [454]:
df = pd.DataFrame(season, columns=headers)

In [456]:
df.head(10)

,Player,id,Season,Team,GP,GS,Dbl Dbl,Tpl Dbl,40 Pts,20 Reb,...,HOB,Ast/TO,Stl/TO,FT/FGA,W's,L's,Win %,OWS,DWS,WS
0,Stephen-Curry,1600,2009-10,GOS,80,77,12,1,1,0,...,.309,1.93,0.62,0.17,25,55,.312,3.02,1.87,4.88
1,Stephen-Curry,1600,2010-11,GOS,74,74,5,0,0,0,...,.317,1.91,0.48,0.22,33,41,.446,5.39,1.24,6.63
2,Stephen-Curry,1600,2011-12,GOS,26,23,3,0,0,0,...,.287,2.12,0.60,0.16,13,13,.500,1.84,0.53,2.37
3,Stephen-Curry,1600,2012-13,GOS,78,78,15,0,2,0,...,.390,2.24,0.53,0.21,45,33,.577,8.52,2.53,11.05
4,Stephen-Curry,1600,2013-14 ☆,GOS,78,78,28,4,3,0,...,.426,2.27,0.44,0.25,50,28,.641,9.40,3.85,13.25
5,Stephen-Curry,1600,2014-15 ★,GOS,80,80,23,0,3,0,...,.381,2.49,0.65,0.25,67,13,.838,11.59,4.10,15.69
6,Stephen-Curry,1600,2015-16 ★,GOS,79,79,15,2,13,0,...,.395,2.01,0.65,0.25,71,8,.899,13.88,3.96,17.84
7,Stephen-Curry,1600,2016-17 ☆,GOS,79,79,10,0,5,0,...,.351,2.20,0.60,0.25,65,14,.823,8.71,3.78,12.49
8,Stephen-Curry,1600,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [420]:
df.head(7)

Empty DataFrame
Columns: [Season, Team, GP, GS, Dbl Dbl, Tpl Dbl, 40 Pts, 20 Reb, 20 Ast, Techs, HOB, Ast/TO, Stl/TO, FT/FGA, W's, L's, Win %, OWS, DWS, WS, Season, Team, GP, GS, TS%, eFG%, ORB%, DRB%, TRB%, AST%, TOV%, STL%, BLK%, USG%, Total S %, PPR, PPS, ORtg, DRtg, PER]
Index: []

[0 rows x 40 columns]

##Sample Code
out = []
foo = soup.findAll("th")
for bar in foo:
    if bar.find(text"Age"):
        out.append(bar)

In [ ]:
for x in head:
  if x.find(text="NBA Regular Season Stats - Misc Stats"):
    table = x.find_next_sibling('table')
    row_head = table.findAll('th')
    
    for r in row_head:
      headers.append(r.getText())
    rows = table.findAll('tr')
    for r in rows:
      print "row"
      print y
      data = r.findAll('td')
      for d in data:
        if d.getText() == 'CAREER':
          break;
        y.append(d.getText())
      df.append(y)
# elif x.find(text="NBA Regular Season Stats - Advanced Stats"):
#  elif x.find(text="NBA Regular Season Stats - Per Game"):